*{
  margin:0;
  padding:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#texto{
  color: lightgreen;
  background-color: black;
}

#img-evermeet{
  width: 250px;
  height: 100px;
  background-color: black;
}

#fondo-imagen{
  background-image: url(./imagenes/04_Bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}